.table-container {
    max-height: 450px;
    overflow: auto;
}

.table-container table{
    width: 100%;
}
  
.mat-column-inferredValue {
    padding-left: 16px;
}

.mat-row.selected {
    background: #dddddd;
}

.query-row button {
    margin: auto 10px;
}