.mat-form-field {
    font-size: 14px;
    margin-right: 2%;
  }
.mat-card{ 
    overflow: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 1%;
}
.icon-display {
    transform: scale(2);
 }
