<div fxLayout="column" fxLayoutGap="20px" style="height: 100%; overflow: auto;">

  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between stretch" style="min-height: 250px;">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->


      <!-- Deployable Id Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Deployable Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Deployable Name Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Deployable Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Project Name Column -->
      <ng-container matColumnDef="projname">
        <th mat-header-cell *matHeaderCellDef>Project Name</th>
        <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
      </ng-container>

      <!-- Project Id Column -->
      <ng-container matColumnDef="projid">
        <th mat-header-cell *matHeaderCellDef>Project Id</th>
        <td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
      </ng-container>

      <!-- Project Description Column -->
      <ng-container matColumnDef="projdescription">
        <th mat-header-cell *matHeaderCellDef>Project Description</th>
        <td mat-cell *matCellDef="let element"> {{element.projectDescription}} </td>
      </ng-container>

      <!-- Project Created Column -->
      <ng-container matColumnDef="projcreated">
        <th mat-header-cell *matHeaderCellDef>Project Created</th>
        <td mat-cell *matCellDef="let element"> {{element.projectCreated}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="deployableSelected(row)"
        [ngClass]="{highlighted: deployableSelection.isSelected(row)}">
      </tr>

    </table>
  </div>

  <form [formGroup]="deployableForm" fxLayout="row wrap" fxLayoutGap="15px">


    <div fxLayout="row" fxLayoutAlign="space-around" style="width: 100%; min-height: 500px; overflow:auto;">
      <mat-card fxFlex>
        <mat-card-header>
          <mat-card-title>Deployment Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="row" style="width: 20%;" fxLayoutGap="15px">

            <mat-form-field fxFlex="1 1 18%" appearance="outline">
              <mat-label>Deploy Constraints</mat-label>
              <input matInput [readonly]=false formControlName="deployConstraints">
            </mat-form-field>
            <mat-form-field fxFlex="1 1 18%" appearance="outline">
              <mat-label>Platform</mat-label>
              <input matInput [readonly]=true formControlName="platform">
            </mat-form-field>
          </div>

          <ng-container formArrayName="parameters">
            <ng-container *ngFor="let prop of deployableForm.get('parameters')['controls']; let i = index">

              <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" [formGroupName]="i">
                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                  <input matInput [readonly]=true formControlName="name">
                </mat-form-field>
                <mat-form-field fxFlex="1 1 15%" appearance="outline">
                  <input matInput [readonly]=false formControlName="value" placeholder="Enter Property Value ">
                </mat-form-field>
              </div>
            
            </ng-container>
          </ng-container>

          <mat-card-actions>
            <button mat-raised-button (click)="deploy()" color="primary">Deploy</button>
            <button mat-raised-button (click)="undeploy()" color="primary">Undeploy</button>

          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>

  </form>

</div>