.table-container {
  overflow: auto;
  height: 300px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  display: inline-block;
  margin-right: 5%;
  width: 30%;
}

  
.mat-header-cell {
    font-size: 18px;
}

.mat-row.highlighted {
  background:lightgrey;
}

.mat-card-content{
  padding-bottom: 5%;
}

.mat-card{
  padding-bottom: 0.1%;
}