
.navigation-items {
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
}

.toolbar-title {
  cursor: pointer;
}

.tcs-menu-bar-pane {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 65px;
  padding-left: 20px;
  padding-right: 20px;
}

.mat-toolbar-row {
  background-color: #fff;
  border-bottom: 1px solid #979797;
}

.showpath {
  color: #727272;
}
