.iot-textile-simulator {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 24px;
  justify-content: space-between;
}

.defect-action {
  margin: 14px;
}

mat-button-toggle img {
  display: none;
}

mat-button-toggle:hover img {
  display: block;
  position: fixed;
  z-index: 99;
}

.chart-container {
  display: block;
}

.table-title {
  font-weight: 600;
}
