<div class="defect-action">
  <button mat-raised-button color="primary" (click)="handleAction('*')">
    All
  </button>
  <button mat-raised-button color="primary" (click)="handleAction('missing_pick')">
    Missing Pick
    <img src="/assets/img/simulator/missing-pick.png">
  </button>
  <button mat-raised-button color="primary" (click)="handleAction('selvedge')">
    Selvedge
    <img src="/assets/img/simulator/selvedge.png">
  </button>
  <button mat-raised-button color="primary" (click)="handleAction('hole')">
    Hole
    <img src="/assets/img/simulator/hole.png">
  </button>
  <button mat-raised-button color="primary" (click)="handleAction('stain')">
    Stain
    <img src="/assets/img/simulator/stain.png">
  </button>
  <button mat-raised-button color="primary" (click)="handleAction('color_flecks')">
    Color Fleck
    <img src="/assets/img/simulator/color-flecks.png">
  </button>
  <button mat-raised-button color="primary" (click)="handleAction('good')">
    Good
  </button>
</div>
<div class="iot-textile-simulator">
  <div (click)="playVideo()">
    <video width="400" height="300" src="/assets/video/textile.mp4" controls></video>
  </div>
</div>
