.iot-textile-simulator {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 24px;
  justify-content: space-between;
}

.defect-action button{
  margin: 14px;
}

button img {
  display: none;
}

button:hover img {
  display: block;
  position: absolute;
  z-index: 99;
}
