.login-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-nav {
  background-color: #062e79;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  padding-left: 38px;
  padding-right: 38px;
  width: 100%;
}

.main-section {
  flex: 1;
}

.cloud-logo {
  align-self: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 219px;
}
